/* genral */
section {
  width: 100%;
}

.upperletter {
  text-transform: uppercase;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.container {
  padding: 0 180px;
}

/* #header */
#header {
  width: 100%;
  font-size: 8px;
  background-color: rgb(50,51,52);
  position: fixed;
  padding: 15px 0;
}

#header .container {
  color: rgb(160,161,162);
}

#contact div {
  padding: 0px 20px;
}

#phone {
  border-left: 1px solid rgb(160,161,162);
}

#menu .container {
  padding-top: 45px;
}

/* menu */
#logo {
  margin-top: 30px;
  width: 180px;
}