/* genral */
section {
  width: 100%;
}

a {
  text-decoration: none;
}

.upperletter {
  text-transform: uppercase;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.container {
  padding: 0 180px;
}

.descrip-color {
  color: rgb(155, 156, 157);
}

/* #header */
#header {
  width: 100%;
  font-size: 8px;
  background-color: rgb(50,51,52);
  position: fixed;
  padding: 15px 0;
  z-index: 1;
}

#header .container {
  color: rgb(160,161,162);
}

#contact div {
  padding: 0px 20px;
}

#phone {
  border-left: 1px solid rgb(160,161,162);
}

#menu .container {
  padding-top: 65px;
}

/* menu */
#logo {
  width: 180px;
}

.info {
  padding: 8px 5px;
  text-align: left;
}

.info-pic {
  width: 40px;
}

.title-letter {
  font-size: 10px;
  color: rgb(39, 40, 43);
}

.info-letter {
  font-size: 10px;
  color: rgb(155, 156, 157);
}

.menu-list {
  margin-top: 20px;
  background-color: rgb(251, 194, 60) ;
}

#menu ul {
  list-style-type: none;
  display: inline-block;
  padding-left: 0px;
}

#menu li {
  float: left;
  padding: 0 10px;
  color: white;
}

#menu ul a {
  font-size: 10px;
  color: white;
  text-decoration: none;
}

#menu ul li:nth-child(2n) {
  color: rgb(252, 217, 122);
}

/* #big-pic-start */

#big-pic-start {
  width: 100%;
  height: 480px;
  background-color: black;
}

#big-pic-start .pic-info {
  text-align: left;
  padding-top: 140px;
  width: 650px;
}

#big-pic-start h1, #big-pic-start p, #big-pic-start div {
  margin: 0px;
  color: white;
  margin-bottom: 15px;
}

#big-pic-start div.shortline {
  display: block;
  height: 2px;
  width: 60px;
  background-color: rgb(251, 194, 60)
}

#big-pic-start p.info-letter {
  color: rgb(155, 156, 157);
  line-height: 150%;
}

.link-btn {
  text-align: center;
  font-size: 8px;
  width: 120px;
  padding: 10px 0;
  background-color: rgb(251, 194, 60);
  border-radius: 3px;
}

/* welcometo */
#welcometo .container {
  text-align: center;
  margin-top: 100px;
}

#welcometo .welcome-big-block {
  position: relative;
  margin-top: 60px;
  margin-bottom: -230px;
}

#welcometo .welcome-pic {
  width: 50%;
}

#welcometo .welcome-info {

  text-align: left;
  width: 48%;
  padding: 30px 40px;
  top: -350px;
  left: 50px;
}

#welcometo > .container > p {
  font-size: 8px;
}

.welcome-pic img {
  width: 100%;
}

.welcome-info {
  position: relative;
  border: 3px solid rgb(251, 194, 60);
}

.welcome-info .info-descrip {
  font-size: 12px;
  margin-bottom: 50px;
}

.welcome-info .info-block {
  margin-bottom: 20px;
}

.welcome-info img {
  width: 40px;
}

.welcome-info > p {
  margin: 0 0 20px;
}

.welcome-info p {
  line-height: 150%;
  font-size: 8px;
}

.welcome-info .left {
  width: 10%;
}

.welcome-info .right {
  width: 90%;
}

.welcome-info .right h3 , .welcome-info .right p {
  margin: 0px 0px 5px 10px;
}

.welcome-info .right h3 {
  font-size: 14px;
}

/* #our-services */
#our-services .container {
  text-align: center;
}

#our-services .container p {
  font-size: 12px;
}

#our-services .services-block {
  position: relative;
}

.services-big-block {
  margin-top: 40px;
}

.services-block {
  width: 31%;
  height: 280px;
  margin: 0 1%;
  text-align: center;
}

.services-block:nth-child(1) {
  margin-left: 0%;
}

.services-block:nth-child(2n+1) {
  background-color: rgb(245, 249, 250)
}

.services-block:nth-child(2n) {
  background-color: rgb(230, 170, 40)
}

.services-block img {
  width: 55px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.services-block:nth-child(2n+1) h3 {
  margin-top: 90px;
}

.services-block:nth-child(2n) h3 {
  margin-top: 90px;
  color: white;
}


.services-block:nth-child(2n+1) p {
  line-height: 150%;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.services-block:nth-child(2n) p {
  line-height: 150%;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  color: white;
}

.services-block:nth-child(2n+1) div {
  background-color: rgb(251, 194, 60);
  padding: 10px 0;
  width: 120px;
  color: white;
  margin: 0 auto;
  font-size: 12px;
}

.services-block:nth-child(2n) div {
  background-color: rgb(251, 194, 60);
  border: 2px solid white;
  padding: 10px 0;
  width: 120px;
  color: white;
   margin: 0 auto;
  font-size: 12px;
}

/* #our-latest-projects */
#our-latest-projects .container {
  text-align: center;
  margin-top: 150px;
}

#our-latest-projects .container > p {
  font-size: 8px;
}

.project-menu {
  padding: 0 30px;
  margin-top: 50px;
}

.project-menu ul {
  list-style: none;
}

.project-menu ul li {
  font-size: 12px;
  float: left;
  padding: 0 30px;
}

.project-menu a {
  color: black;
}

#our-latest-projects .row {
  margin-top: 40px;
}

#our-latest-projects .row .col-3 {
  width: 25%;
  height: 200px;
  background-size: cover;
}

#our-latest-projects .row .col-3:nth-child(1) {
  background-image: url("image/project1.png");
}

#our-latest-projects .row .col-3:nth-child(2) {
  background-image: url("image/project8.png");
}

#our-latest-projects .row .col-3:nth-child(3) {
  background-image: url("image/project3.png");
}

#our-latest-projects .row .col-3:nth-child(4) {
  background-image: url("image/project4.png");
}

#our-latest-projects .row .col-3:nth-child(5) {
  background-image: url("image/project5.png");
}

#our-latest-projects .row .col-3:nth-child(6) {
  background-image: url("image/project6.png");
}

#our-latest-projects .row .col-3:nth-child(7) {
  background-image: url("image/project7.png");
}

#our-latest-projects .row .col-3:nth-child(8) {
  background-image: url("image/project8.png");
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(244,199,78,0.8);
  color: white;
  opacity: 0;
}

.mask:hover {
  opacity: 100;
}

.mask a {
  color: white;
}

.mask p {
  font-size: 8px;
}

.mask-inner {
  width: 80%;
  margin-left: 20px;
}

.fa {
  padding: 8px;
  border: 1px solid white;
  margin-bottom: 80px;
  margin-top: 20px;
}