/* genral */
section {
  width: 100%;
}

.upperletter {
  text-transform: uppercase;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.container {
  padding: 0 180px;
}

/* #header */
#header {
  width: 100%;
  font-size: 8px;
  background-color: rgb(50,51,52);
  position: fixed;
  padding: 15px 0;
}

#header .container {
  color: rgb(160,161,162);
}

#contact div {
  padding: 0px 20px;
}

#phone {
  border-left: 1px solid rgb(160,161,162);
}

#menu .container {
  padding-top: 65px;
}

/* menu */
#logo {
  width: 180px;
}

.info {
  padding: 8px 5px;
  text-align: left;
}

.info-pic {
  width: 40px;
}

.title-letter {
  font-size: 10px;
  color: rgb(39, 40, 43);
}

.info-letter {
  font-size: 10px;
  color: rgb(155, 156, 157);
}

.menu-list {
  margin-top: 20px;
  background-color: rgb(251, 194, 60) ;
}

#menu ul {
  list-style-type: none;
  display: inline-block;
  padding-left: 0px;
}

#menu li {
  float: left;
  padding: 0 10px;
  color: white;
}

#menu ul a {
  font-size: 10px;
  color: white;
  text-decoration: none;
}

#menu ul li:nth-child(2n) {
  color: rgb(252, 217, 122);
}

